/.vs/Farmacheck/FileContentIndex
/.vs/Farmacheck/v17
/.vs/Farmacheck/v16
/wwwroot/lib
/obj
/.vs/Farmacheck/DesignTimeBuild
/bin
/.vs/ProjectEvaluation
/.vs/Farmacheck/config
*.user
/.config
/Properties
